*{
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
  
 body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }

 header, footer{
    flex-basis: 100%;
 }


 main{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
  
 section{
    height: 85vh;
    width: 30%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    border : solid 30px #222;
    border-radius: 10px ;
 }
  
 .box-chat{
    height: 90%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: auto;
 }
  
 .box-chat .text-left{
    background-color: #4CAF50;
    align-self: flex-end;
    color: #FFFFFF;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
 }
  
 .box-chat .text-right{
    background-color: grey;
    align-self: flex-start;
    color: #FFFFFF;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
 }
  
 .box-chat .text-center{
    background-color: red;
    align-self: flex-start;
    color: #FFFFFF;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
 }
  
 .box-chat .text-win{
    background-color: blue;
    align-self: flex-start;
    color: #FFFFFF;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
 }
  
  
 section nav{
    height: 10%;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
  
 section nav button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    height: 90%;
    width: 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
 }

 li{
    list-style-type: none;
}

#header li{
    border: thin solid white;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(170, 4, 4);
}

footer{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

#header li:hover{
    transition-delay: 0.05s; /* délai d'apparition lorsqu'on passe la souris dessus*/
    background-color: grey; /* change la couleur de fond des boutons en gris*/
}

article p a:hover{
    transition-delay: 0.05s;
    color: rgb(170, 4, 4);
}

footer{
    border: thin solid black;
}

*{
    margin: 0%;
    padding: 0%;
}

header, footer{
    margin: 1%;
}

#navigation #header{
    display: flex;
    flex-wrap: nowrap;
}

#navigation #header li{
    flex-basis: 20%;
    flex-grow: 1;
}

header img{
    width: 100%;
}

main{
    flex-basis: 100%;
    margin: 2%;
}

main > *{
    margin: 2%;
}

h1{
    text-align: center;
}