li{
    list-style-type: none;
}

#header li{
    border: thin solid white;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(170, 4, 4);
}

footer{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

#header li:hover{
    transition-delay: 0.05s; /* délai d'apparition lorsqu'on passe la souris dessus*/
    background-color: grey; /* change la couleur de fond des boutons en gris*/
}

article p a:hover{
    transition-delay: 0.05s;
    color: rgb(170, 4, 4);
}

footer{
    border: thin solid black;
}

*{
    margin: 0%;
    padding: 0%;
}

header, footer{
    margin: 1%;
}

nav #header{
    display: flex;
    flex-wrap: nowrap;
}

nav #header li{
    flex-basis: 20%;
    flex-grow: 1;
}

header img{
    width: 100%;
}

main{
    flex-basis: 100%;
    margin: 2%;
}

h1, h2, h3{
    margin: 2%;
    margin-bottom: 5%;
    text-align: center;
    border-top: 4px solid rgb(170, 4, 4);
}

#don{
    display: flex;
    justify-content: center;
}

.easter{
    display: none;
}

.easter h1{
    border-top: 4px solid white;
    margin-top: 300px;
    font-size: 50px;
}

#don:hover .easter{
    display: inline;
}

#journeelutte > p{
    margin-bottom: 2%;
}

aside h3{
    margin-bottom: -1%;
    font-weight: bold;
    font-size: 30px;
}

aside ul{
    display: flex;
    flex-wrap: nowrap;
}

aside ul li{
    flex-basis: 20%;
    margin: 2%;
    margin-left: 150px;
}