li{
    list-style-type: none;
}
p{
    text-align: center;
}
#header li{
    border: thin solid white;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(170, 4, 4);
}

#header a{
    text-decoration: none;
    color: white;
}
#header li:hover{
    transition-delay: 0.05s; /* délai d'apparition lorsqu'on passe la souris dessus*/
    background-color: red; /* change la couleur de fond des boutons en gris*/
}

article p a:hover{
    transition-delay: 0.05s;
    color: rgb(170, 4, 4);
}

#evolution .centre{
    display: flex;
    justify-content: center;

}

h2,h3{
    font-size: 2em;
    color: black;
    border-top: 4px solid rgb(170, 4, 4);
    text-align: center;
    margin: 2%;
    margin-bottom: 3%;
}

p{
    color: black;
    margin: 1%;
}
aside ul{
    display: flex;
}
aside li{
    list-style-type: none;
    flex-basis: 10%;
    margin: 2%;
    margin-left: 150px;

}
aside h3{
    text-align: center;
}
/* pour le formulaire en bas de page */
#questionner{
    margin-top: 5%;
    border-color: rgb(170, 4, 4);
   
}

#questionner legend{
    color: rgb(170, 4, 4);
    font-weight: bold;
}

#questionner div{
    display: flex;
    margin: 2%;
}

#questionner label{
    color: rgb(170, 4, 4);
    flex-basis: 20%;
    flex-grow: 0;
}

textarea{
    color: black;
    display: block;
    width: 600px;
    height: 100px;
}

#fin_formulaire *{
    margin: 0.5%;
}
*{
    margin: 0%;
    padding: 0%;
}

header, footer{
    margin: 1%;
}

nav #header{
    display: flex;
    flex-wrap: nowrap;
}

nav #header li{
    flex-basis: 20%;
    flex-grow: 1;
}

header img{
    width: 100%;
}

main{
    flex-basis: 50%;
    margin: 2%;
}

article > *{
    margin: 3%;
}

article ul > *{
    margin: 2%;
}

/*footer */

footer{
    margin: 0%,10%;
    border: thin solid black;
    display: flex;
    justify-content: space-between;
}
footer p {
    margin: 1%;
    color: black;
}
