li{
    list-style-type: none;
}

#header li{
    border: thin solid white;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(170, 4, 4);
}

footer{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

#header li:hover{
    transition-delay: 0.05s; /* délai d'apparition lorsqu'on passe la souris dessus*/
    background-color: grey; /* change la couleur de fond des boutons en gris*/
}

article p a:hover{
    transition-delay: 0.05s;
    color: rgb(170, 4, 4);
}

footer{
    border: thin solid black;
}

*{
    margin: 0%;
    padding: 0%;
}

header, footer{
    margin: 1%;
}

nav #header{
    display: flex;
    flex-wrap: nowrap;
}

nav #header li{
    flex-basis: 20%;
    flex-grow: 1;
}

header img{
    width: 100%;
}

main{
    flex-basis: 100%;
    margin: 2%;
}

main > *{
    margin: 2%;
}

h1, h3{
    text-align: center;
    margin-bottom: 5%;
    border-bottom: 4px solid rgb(170, 4, 4);
}

aside{
    margin-top: 300px;
}

aside h3{
    margin-bottom: -1%;
    font-weight: bold;
    font-size: 30px;
}

aside ul{
    display: flex;
    flex-wrap: nowrap;
}

aside ul li{
    flex-basis: 20%;
    margin: 2%;
    margin-left: 150px;
}
  
span.myLoader {
      width: 50px; height: 50px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-left: 50%;
      margin-top: 5%;
      margin-bottom: -15%;
}
span.loaderBars:before, span.loaderBars span, span.loaderBars:after {
      content: '';
      position: absolute;
      left: 0; top: 0;
      width: 10px; height: 30px;
      -webkit-animation: growLoader 1s linear infinite;
      animation: growLoader 1s linear infinite;
}
span.loaderBars:before {
      background-color: black;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
}
span.loaderBars span {
      background-color: black;
      left: 30px;
      -webkit-animation-delay:  -0.33s;
      animation-delay: -0.33s;
}
span.loaderBars:after {
      background-color: red;
      left: 15px;
      -webkit-animation-delay: -0.66s;
      animation-delay: -0.66s;
}
  
  
  
@-webkit-keyframes growLoader {
      0% {-webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
      50% {-webkit-transform: scaleY(1); transform: scaleY(1); opacity: 1;}
      100% {-webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
}
@keyframes growLoader {
      0% {-webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
      50% {-webkit-transform: scaleY(1); transform: scaleY(1); opacity: 1;}
      100% {-webkit-transform: scaleY(0); transform: scaleY(0); opacity: 0;}
}
